
<div>
<h1>Stupid Coaching</h1>
<div class="ms-3 me-3 px-3 border-start border-primary border-dark border-5 ">
<p><%= @question %></p>
<p> - You</p>
</div>
<div class="ms-3 me-3 px-3 border-start border-primary border-dark border-5 bg-warning" >
<p><%= @answer %></p>
<p> - Coach</p>
</div>
</div>
<div class="ms-3">
<%= link_to "ask a new question", ask_path %>
</div>
